.main{
    color:rebeccapurple;
    border: : 2px solid #ccc;
    padding : 1em;
    font-weight: 500;
    font-family: fantasy;
}
.special{
    color: black;

}

body {
    color: green;
}
          
.my-class-1 a {
    color: inherit;
}
          
.my-class-2 a {
    color: initial;
}
          
.my-class-3 a {
    color: unset;
}

blockquote {
    background-color: red;
    border: 2px solid green;
}
        
.fix-this {
    all: initial;
}


#winning {
    background-color: red;
    border: 1px solid black;
}
    
.better {
    background-color: gray;
    border: none !important;
}
    
p {
    background-color: blue;
    color: white;
    padding: 5px;
}  