h1{
    color:tomato
}

li{
    font-weight: bold
}
p{
    color:darkred
}
span.special{
    list-style-type: square;
    font-weight: bold;
}

li em{
    color: hotpink
}

h1 + p {
    font-size: 150%
}
p span{
    color: red;
}

a:link{
    color: blue;
}

a:visited{
    color: saddlebrown;
}

a:hover{
    text-decoration: none;
}

.main{
    color:rebeccapurple;
    border: : 2px solid #ccc;
    padding : 1em;
    font-weight: 500;
    font-family: fantasy;
}
.special{
    color: black;

}